<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend', null, 'backendConfig') }}
    {% endblock %}
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">

            {% block body %}{% endblock %}

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
{% block javascripts %}
    {# <script src="{{ asset('build/backend.js') }}"></script> #}
    {{ encore_entry_script_tags('backend', null, 'backendConfig') }}
{% endblock %}
</body>

</html>
